

.b{
  background-color: black;
display: flex;
flex-wrap: wrap;
padding-left: 3%;
padding-right: 3%;
width: 100%;
padding-top: 10rem;


}
.w{
  background-color: white;
  display: flex;
flex-wrap: wrap;
padding-left: 3%;
padding-right: 3%;
width: 100%;
padding-top: 10rem;



}
@media(max-width:780px){
  .b{
    background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  padding-top: 13rem;
  
  }
  .w{
    background-color: white;
    display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  padding-top: 13rem;
}




}